@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-image: url('images/martini.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	line-height: 32px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	}

h1 {
	text-align: left;
	font-size: 40px;
	background-color: black;
}

p {
	text-align: center;
	font-size: 20px;
	background-color: black;
}

i { 
	padding: 100 px
}
	
a {
	color: #FFF;
}


#container {
	margin: 0 auto;
}

nav {
	margin: 40px 0;
	background-color: #E64A19;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	background-color: #E64A19;
	}

nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

/* Dropdown hidden */
nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
/*Hover effect*/ 
nav ul li:hover > ul {
	display:inherit;
}
	
/*Dropdown menu */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

