/* font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Stick No Bills', sans-serif; */

*{
	margin:0;
	padding:0;
	box-shadow: border-box;
}

/* :root{
	--font:'Open Sans', sans-serif;
	/* --bg: #14161af6; */
	/* --main-font-color: white;
} */ 

body {
	background-color:#080808;
	color: #ffffff;
}

.center{
	display:flex;
	justify-content: center;
	align-items:center;
}
	
nav {
	margin: 10px 0;
	background:black;
	text-transform: uppercase;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
}
	
nav ul li a{
	background-color: black;
	text-align: left;
}

nav ul ul {
	display: none;
	position: absolute;  
}
	

nav ul li:hover > ul {
	display:inherit;
	background-color:rgb(61, 61, 61);
}
	

nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
}


.main{
	padding:10px;
	width: 95%;
	height:750px;
	margin: 0 auto;
	display:flex;
	align-items: center;
	border:1px solid rgba(0, 0, 0, 0.87);
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
}

.main::before, main::after{
	content:'';
	width:80%;
	height:70%;
	position: absolute;
	bottom: 0;
	z-index; -10;
}

.box h1{
	font-size: 7.5em;
	font-family: 'Archivo Black', sans-serif;
}


.box h2{
	font-size: 6.5em;
	color:grey;
}

.box p{
	font-size: 14px;
	font-family: sans-serif;
	text-align:center;
	padding-bottom: 50px;
}

.main img{
	padding-top: 125px;
	width: 900px;
	height:700px;
	position: absolute;
	right: 10px;
	z-index:-10;
	bottom:30px
}


.row {
	padding-top: 100px;
	display: grid;
	justify-content:center;
	grid-template-columns: 400px 400px;
	text-align: center;
	text-transform: uppercase;
}

#drinkContent img {
	width: 200px;
	height: 200px;
}

#movieContent img {
	width: 200px;
	height: 300px;
}

h3 {
	text-transform: uppercase;
	font-size: 20px;
} 


#movieContent p, ul, li{
	padding:4px;
	display:block;
	color:white;
	text-align: center;
	font-size: 15px;
}


/* #movieContent ul {
	display:block;
	color:white;
	text-align: center;
	font-size: 15px;
}

#movieContent li {
	display:block;
	color:white;
	text-align: center;
	font-size: 15px;
} */ */
